
/* 字体 */
@font-face{
    font-family: 'SimHei';
    src : url('../font/simhei.ttf');
}


body,html{
    width:100%;
    height:100%;
    background-color:transparent;
    overflow: hidden;
    font-family: 'SimHei',sans-serif;
}

body,html,p,ul,li {
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
div{
    box-sizing: border-box;
}


.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix::after{
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.clearfix{
    zoom: 1;
}

[v-cloak] {
    display: none;
}


       
.table-item-contain::-webkit-scrollbar
{
  width: 4px;
  height: 4px;
  background-color: transparent;
}

/*定义滚动条轨道 内阴影+圆角*/
.table-item-contain::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #053254;
}

/*定义滑块 内阴影+圆角*/
.table-item-contain::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #01a1ff;
}