#zblApp{
    /* background-color: rgba(0,0,0,.5); */
    width:100%;
    height:100%;
    overflow: auto;
    /* background: url(../img/zblRight.png) no-repeat; */
    background-size: cover;
    /* padding:60px 0 132px 40px; */
    background: url(../img/bg.png) no-repeat;
    background-size:cover;
    overflow: auto;
}

.fir{
    list-style-type: none;
    overflow: hidden;
    width: 100%;
}
.fir li{
    float: left;
    height:142px;
    overflow: hidden;
}
.fir li .le{
    float:left;
    width:150px;
    height:100%;
}
.ar{
    width:100%;
}

.main {
    padding: 67px 287px 0 42px;
}
.main-top {
    height: 109px;
    margin-bottom: 80px;
}
.main-info {
    height: 177px;   
    position: relative; 
}

.main-center {
    height: 969px;
    margin-bottom: 102px;
}

.main-bottom {
    height: 443px;
    /* background-color: yellow; */
    margin-bottom: 161px;
}


.main-top .nowTime{
    font-size:79px;
    color:#19adc8;
    font-weight: 700;
    padding:0 0 0 25px;
}
.main-top .timeblew{
    font-size:26px;
    color:#248ecc;
    padding-left:27px;
}

.main-info .main-info-contain {
    margin-right: 48px;
}

.main-info .main-info-icon {
    float: left;
    width: 123px;
    height: 123px;
    background-size: 100%;
    background-repeat: no-repeat;
} 

.main-info .main-info-icon.main-info-icon-communities {
    background-image: url(../img/zll4.png);
    background-size: 130%;
    background-position: -12px -16px;
}
.main-info .main-info-icon.main-info-icon-alarm {
    background-image: url(../img/zll2.png);
    background-size: 130%;
    background-position: -12px -16px;
}
.main-info .main-info-icon.main-info-icon-communities1 {
    background-image: url(../img/zll5.png);
    background-size: 130%;
    background-position: -12px -25px;
}
.main-info .main-info-icon.main-info-icon-communities2 {
    background-image: url(../img/zll3.png);
    background-size: 130%;
    background-position: -12px -16px;
}
.main-info .main-info-icon.main-info-icon-communities3 {
    background-image: url(../img/zll1.png);
    background-size: 130%;
    background-position: -12px -16px;
}

.main-info .main-info-content {
    float: left;
} 

.main-info-content .main-info-num {
    font-size: 60px;
    color: white;
}

.main-info-content .main-info-title {
    font-size: 28px;
    color:#248ecc ;
}
.main-center .main-center-title {
    background: url(../img/all6.png);
    background-size: 100%;
    height: 83px;
    line-height: 83px;
}

.main-center .main-center-title ul{
    list-style-type: none;
    /* padding-top:30px; */
    /* padding-bottom:24px; */
    padding-left:45px;
    position: relative;
}
.main-center .main-center-title ul>li {
    margin-right: 85px;
    font-size: 30px;
    color: #154b65;
    font-weight:700;
    position: relative;
    cursor: pointer;
}
.main-center .main-center-title ul>li.r1{
    /* right: -516px; */
    /* bottom: 6px; */
    float: right;
}
.main-center .main-center-title ul>li.r1 select{
    color:#d19328;
    font-size:30px;
    border:none;
    background-color:transparent ;
}
/* .main-center .main-center-title ul>li img{
    position: absolute;
    bottom: -17px;
    left:50%;
    transform: translateX(-50%);
    width:80%;
} */
.main-center .main-center-title ul>li.active{
    color:#fff;
}
.main-center .main-center-title ul>li.tab.active div{
    position: relative;
}

.main-center .main-center-title ul>li.tab.active div:after{
    content: '';
    /* width: 97%; */
    height: 5px;
    background-color: #d19328;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 6px;
}


.main-center-contain .main-center-contain-left ul.zcl{
    list-style-type: none;
    background: url('../img/1-2.png');
    background-size: 100%;
    width:475px;
    height:247px;
    margin-bottom: 88px;
    padding:20px 0;
    box-sizing: border-box;
}
.main-center-contain .main-center-contain-left ul.zcl>li{
    height:50px;
    padding-left:15px;
    margin-bottom:30px;
    display: block;
    overflow: hidden;
}
.main-center-contain .main-center-contain-left ul.zcl>li:last-child{
    margin-bottom: 0;
}
.main-center-contain .main-center-contain-left ul.zcl>li span{
    display: inline-block;
}
.main-center-contain .main-center-contain-left ul.zcl>li .list-icon{
    width: 46px;
    height:46px;
    float: left;
    vertical-align: middle;
}
.zl-box{
    float:left;
    width:395px;
    height: 46px;
    line-height: 20px;
    background: url(../img/zllbg.png) no-repeat;
    background-size: 100%;
    margin-left: 15px;
    vertical-align: middle;
    margin-top: 5px;
    padding:10px 0 10px 8px;
    box-sizing: border-box;
}
.list-name{
    font-size:25px;
    color:#abadc1;
}
.list-data{
    font-size:25px;
    color:#fff;
    font-weight: 700;
    float: right;
    margin-right: 42px;
}
.main-center-contain .main-center-contain-left ul.zcl:last-child{
    height:176px;
}
#zlbb{
    width: 100%;
    list-style-type: none;
    background: url(../img/all6.png) no-repeat;
    /* background-size: 100%; */
    padding-left:65px;
    height:80px;
    margin-bottom: 80px;
    line-height: 80px;
    /* overflow: hidden; */
}
#zlbb >li{
    font-size:30px;
    color:#d19328;
    font-weight: 700;
    margin-right: 163px;
    display: inline-block;
    float:left;
}

.main-center .main-center-contain-right .chart-left-contain-top {
    margin-right: 100px;
    margin-bottom: 135px;
}


.main-center .main-center-contain-right .chart-left-contain {
    margin-right: 100px;
}

.main-center .five-g-contain-top {
    margin-bottom: 128px;
}

.main-center .chart {
    width: 495px;
    height: 270px;
}

.main-center .main-center-contain-right .chart {
    width: 495px;
    height: 270px;
    /* margin-bottom: 100px; */
}
.main-center .chart-title {
    color: #fffFFF;
    font-size: 28px;
    margin-bottom: 34px;
    padding-top: 50px;
}


.main-info-bottom {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    background-size: 100% 100%;
    bottom: 0px;
    height:50px;
    background-image: url(../img/top-bg.png);
}

.main-bottom-contain .chart {
    width: 195px;
    height: 195px;
}
.bbm{
    overflow: hidden;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.bbm img{
    vertical-align: middle;
}
.bbm span{
    display: inline-block;
    font-size: 30px;
    color:#175773;
    vertical-align: middle;
    margin-left:12px;
}
.main-bottom-contain .fl{
    margin-right:110px;
}
.main-bottom-contain .fl:last-child{
    margin-right: 0;
}


.select {
    width: 160px;
    display: inline-block;
    height: 40px;
    position: relative;
}
.select-name {
    cursor: pointer;
    height: 40px;
    color: #d19328;
}
.select-ul {
    position: absolute;
    left: 0;
    top: 80px;
    border: 1px solid black;
    /* width: 160px; */
    text-align: left;
    background-color: #101b31;
}
.select-ul .select-li {
    font-size: 14px;
    padding: 8px 14px;
    cursor: pointer;
    color: #6a6a6a;
    line-height: 1;
}

.select-ul .select-li:hover {
    color: white;
}

.main-bottom .select {
    width: 160px;
    display: inline-block;
    height: 80px;
    position: relative;
}
.main-bottom .select-name {
    cursor: pointer;
    height: 80px;
    color: #d19328;
}
.main-bottom .select-ul {
    position: absolute;
    left: 0;
    top: 80px;
    border: 1px solid black;
    /* width: 160px; */
    text-align: left;
}
.main-bottom .select-ul .select-li {
    font-size: 14px;
    padding: 8px 14px;
    cursor: pointer;
}

.main-bottom .select-ul .select-li:hover {
    color: white;
}