
#zbrApp{
    height:100%;
    width:100%;
    /* background-color: #0e1928; */
    /* background-color: transparent; */
    background: url(../img/bg.png) no-repeat;
    background-size:cover;
    overflow: auto;
}
.main-contain {
    width: 2100px;
    padding: 82px 79px 0 252px;
    line-height: 1;
}

.map, .map-table-contain {
    background-image: url('../img/map-bg.png');
    background-size: 100% 100%;
}
.map,.map-table-contain {
    width: 1042px;
    height: 760px;
}

/*  echart 宽度 */
.people-number {
    width: 446px;
    height: 328px;
}
.terminal {
    width: 519px;
    height: 464px;
}
.map,.map-table-contain {
    width: 1042px;
    height: 760px;
}


.tab {
    cursor: pointer;
    text-align: center;
}

.top {
    height: 238px;
    position: relative;
   
}
.top-bottom {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    background-size: 100% 100%;
    bottom: 0px;
    height: 150px;
    background-image: url(../img/top-bg.png);
}
.top .total {
    margin-right: 110px;
}

.top .spread-contain {
    width: 1257px;
}

.top .spread {
    width: 25%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.top .spread-info {
    margin-bottom: 18px;
}

.top .total-icon {
    width: 150px;
    height: 150px;
    margin-top: -20px;
    background-image: url(../img/total.png);
    background-size: 100%;
}

.top .total-title ,.top .spread-title {
    color: #228fcf;
    font-size: 26px;
}
.top .total-title {
    margin-bottom: 24px;
}
.top .spread-title {
    margin-bottom: 22px;
}

.top .total-number ,.top .spread-number {
    color: #ffffff;
    font-size: 48px;
}

.top .total-per ,.top .spread-per {
    color: #999999;
    font-size: 30px;
}

.top .total-yes ,.top .spread-yes {
    color: #999999;
    font-size: 30px;
}

.top .total-diff ,.top .spread-diff {
    color: #ba822a;
    font-size: 26px;
}

.left {
    width: 1106px;
}

.left-top {
    margin-bottom: 55px;
}

.left-top .top-title {
    font-size: 30px;
    color: white;
    margin-bottom: 48px;
}

.left-top  .left-top-number {
    margin-right: 37px;
}

.left-top  .left-top-terminal .top-title {
    padding-left: 38px;
}


.left-top .tab{
    height: 46px;
    line-height: 46px;
    font-size: 26px;
    width: 486px;
    margin-bottom: 45px;
}   
.left-top .tab-pane {
    width: 50%;
    color: #636666;
    background-color: #010817;
}

.left-top .tab-pane.active {
    background-color: #4457a4 ;
    color: #c7c7c8;
}

.left-center {
    margin-bottom: 70px;
}

.left-center .tab{
    height: 56px;
    line-height: 56px;
    font-size: 26px;
    width: 486px;
    margin-bottom: 7px;
}   
.left-center .tab-pane {
    width: 239px;
    border: 1px solid transparent;
    color: #656565;
    background-color: #020c1a;
}

.left-center .tab-pane.active {
    background-color: #1a2640 ;
    border-color: #163565;
    color: #ececec;
   
}

.left-center .map-contain {
    position: relative;
    /* border: 1px solid #163565; */
}

.left-center .map-btns {
    position: absolute;
    top: 21px;
    left: 18px;
    height: 0px;
    color: white;
}

.left-center .map-btns div {
    height: 64px;
    line-height: 38px;
    padding: 0 26px;
    text-align: center;
    background-size: 100% 100%;
    cursor: pointer;
    color:#656568;
}

.left-center .map-btns div.active {
    background-image: url(../img/map-btns-bg.png);
    color:#fff;
}

.left-center .table-item-contain {
    margin: 90px 60px 59px;
    overflow: auto;
    height: 600px;
}


.left-center .map-table-contain {
    position: relative;
    border: 1px solid #163565;
    overflow: auto;
}

/* 进度条 */

.left-center .map-table-contain .table-item {
    /* width: 600px; */
    height: 20px;
    margin-bottom: 16px;
    color: white;
}
.left-center .map-table-contain .table-item .table-progress-area{
    margin-right: 16px;
    color: white;
    width: 55px;
}
.left-center .map-table-contain .table-item .table-progress {
    width: 700px;
    height: 20px;
    /* overflow: hidden; */
    position: relative;
}
.left-center .map-table-contain .table-item .table-progress .table-progress-bg{
    background-color: #021835;
    position: absolute;
    width: 770px;
    height: 20px;
    left: 0;
    top: 0;
}

.left-center .map-table-contain .table-item .table-progress .table-progress-pro{
    background-color: #0d4b98;
    width: 400px;
    height: 20px;
    position: relative;
    
}
.left-center .map-table-contain .table-item .table-progress .table-progress-num{
    height: 20px;
    position: absolute;
    right: -40px;
}


.left-center .map-table-contain .map-table-btns {
    position: absolute;
    top: 21px;
    left: 18px;
    height: 0px;
    color: white;
}

.left-center .map-table-contain .map-table-btns div {
    height: 46px;
    line-height: 46px;
    width: 200px;
    margin-right: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #020c1a;
    color: #c7c7c7;
}

.left-center .map-table-contain .map-table-btns div.active {
    background-color: #1a2640;
}

.left-bottom {
    color: white;
    margin-bottom: 0px;
}
.left-bottom .bottom-title {
    font-size: 30px;
    color: white;
    margin-bottom: 58px;
}

.left-bottom .sex-icon {
    height: 101px;
    width: 53px;
    background-size: 100%;
    margin-right: 28px;
}
.left-bottom .man ,.bottom .woman{
    margin: 0px 110px 0 34px;
}

.left-bottom .man .sex-icon {
    background-image: url('../img/man.png');
}
.left-bottom .woman .sex-icon {
    background-image: url('../img/woman.png');
}

.left-bottom .man .sex-info-per {
    color: #3a71cc;
    font-size: 54px;
    margin-bottom: 24px;
}
.left-bottom .woman .sex-info-per {
    color: #b851af;
    font-size: 54px;
    margin-bottom: 24px;
}
.left-bottom .sex-info-type {
    color: #6d7d99;
    font-size: 24p;
}



.w50 {
    width: 50%;
}

.w100{
    width: 100%;
}
.rightThree{
    position: absolute;
    right:80px;
    top:310px;
    height:1640px;
}
.rightThree img{
    width: 665px;
    display: block;
    margin-bottom:50px;
}
.t_num i {
    width: 30px;
    height: 50px;
    display: inline-block;
    background: url(../img/num.png) no-repeat;
    background-position:0 0;
    background-size: 832%;
}

.t_num{
    display: block;
    height:50px;
    float:left;
}
.t_text{
    display: block;
    height: 50px;
    line-height: 55px;
    float:left;
    margin-left:15px;
}
.totalPerson{
    position: absolute;
    bottom:20px;
    right:80px;
    color:#fff;
    font-size:28px;
    z-index: 10000;
}
.totalPerson .numT{
    font-size:32px;
    color:#d59301;
}
.rightThree img{
    width: 665px;
    display: block;
    margin-bottom:50px;
}